__pycache__/
*.pyc
.env
backups/

templates/index_before_*.html

static/css/onboarding/*before*.css
static/css/map/*before*.css

static/js/onboarding/*before*.js
static/js/map/*before*.js
node_modules/
